body {
    background-color: #FAF9FB;
    display: flex;
    min-height: 100vh;
}

/* Sidebar */
.barra-lateral {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100vh;
}

.logo-sistema {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 4px;
    justify-content: center;
}

.logo-sistema img {
    width: 45px;
}

.logo-text {
    font-family: "Advent Pro", sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #ff8c38;
}

.divisor {
    border: none;
    border-top: 1px solid #E5E7EB;
    margin: 10px 0 20px;
}

.menu {
    flex: 1;
}

.titulo-secao {
    font-size: 12px;
    text-transform: uppercase;
    margin: 18px 0 30px;
    color: #6B7280;
    letter-spacing: 1px;
}

.menu .selecionado {
    background-color: #EFF6FF;
    border-radius: 8px;
    font-weight: 500;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    margin-bottom: 4px;
}

.menu ul li img {
    width: 20px;
}

.menu ul li a {
    color: #4B5563;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 16px 16px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.menu ul li:not(.selecionado) a:hover {
    background-color: #FAF9FB;
}

/* Conteúdo principal */
.conteudo-principal {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 300px;
    /* espaço para a sidebar */
    margin-top: 70px;   /* espaço para a topbar */
}

/* Topbar */
.topo {
    gap: 20px;
    /* Espaçamento entre notificações e pesquisa */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 300px; /* espaço da sidebar */
    right: 0;
    height: 70px;
    background-color: #ffffff;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    z-index: 999;
}

.titulo-topo {
    flex: 1;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    color: #1E1E1E;
}

.area-notificacao {
    position: relative;
    font-size: 20px;
    color: #555;
    cursor: pointer;
}

.area-pesquisa {
    position: relative;
    width: 300px;
}

.area-pesquisa img {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
}

.area-pesquisa input {
    width: 100%;
    padding: 13px 35px 13px 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.area-pesquisa input:focus {
    border: 1px solid #9CA3AF;
    outline: none;
    /* Remove o contorno azul padrão do navegador */
}

/* Perfil-usuário */

.perfil-usuario {
    display: flex;
    align-items: center;
}

.perfil-usuario img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.informacoes-usuario {
    display: flex;
    flex-direction: column;
}

.nome-usuario {
    font-size: 14px;
    font-weight: 600;
    color: #1E1E1E;
}

.cargo-usuario {
    font-size: 12px;
    color: #4B5563;
}

/* Responsividade */
@media (max-width: 1024px) {
    .barra-lateral {
        width: 220px;
        padding: 15px;
    }

    .logo-text {
        font-size: 30px;
    }

    .menu ul li a {
        font-size: 14px;
        padding: 12px;
    }

    .titulo-topo h1 {
        font-size: 18px;
    }

    .area-pesquisa {
        width: 200px;
    }
}