body {
    margin: 30px;
}

.cabecalho-inventario {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 30px 0;
}

.texto-inventario {
    margin-bottom: 10px;
}

.titulo-inventario {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    color: #1E1E1E;
}

.descricao-inventario {
    font-size: 16px;
    color: #1E1E1E;
    margin: 4px 0 0 0;
}

.botoes-inventario {
    display: flex;
    gap: 15px;
}

.botao-secundario {
    background-color: transparent;
    border: 1px solid #828282;
    color: #828282;
    padding: 10px 16px;
    border-radius: 8px;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
}

.botao-secundario:hover {
    border: 1px solid #092C4C;
}

.botao-principal {
    background-color: #092C4C;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
}

.botao-principal:hover {
    background-color: #0a2349;
}

/* TABELA */
.container-tabela {
    background: #fff;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

.tabela-produtos {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    /* Essencial para forçar colunas proporcionais */
}

.tabela-produtos th {
    text-align: left;
    padding: 12px 8px;
    font-size: 12px;
    color: #4B5563;
    font-weight: 500;
}

.tabela-produtos tr {
    border-bottom: 1px solid #E5E7EB;
}
